.member{
    margin: 80px;
}
.img-tittle{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, Helvetica, sans-serif !important;
    font-size: 60px;
}
.circle-membership{
    color: white;
    line-height: 2;
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, Helvetica, sans-serif !important;
    font-weight: bold;
}
.firstForm-inquire{
    margin: auto;
}
.inputs-Inquire{
    margin: auto;
    width: 60%;
}
.inputInquiry{
    margin: 10px 40px;
}
.container .card{
 margin-top: 50px;
 margin-bottom: 20px;
 -webkit-box-shadow: -4px 8px 13px 5px #A2A2A2; 
    box-shadow: -4px 8px 13px 5px #A2A2A2;
}
.container .border-secondary{
    /* width: 40%; */
}
.container .border-secondary ul li{
    font-weight: bold;
    line-height: 2;
    font-size: 15px;
}
.reachedInquire{
    padding: 5px;
    /* margin-top: 15px; */
    /* font-size: 20px; */
    font-family: 'Raleway', Times, serif;
    /* font-weight: bold; */
    /* margin-left: 40px; */
}
.buttonInputSend1{
    margin-top: 15px;
    padding: 12px;
    border: 2px solid;
    font-size: 15px;
    color: white;
    background-color: #4b2c7b;
    border-radius: 5px;
}
.btnSend1{
    margin-right: 20px;
    text-align: right;
}
.edit-margi{
    margin-top: 15px;
}
.memberCard{
    margin-top: 100px;
    padding: 0px 150px 100px 150px;
    background-color: rgb(245, 245, 245);
    font-family: "Raleway",sans-serif;    
}
.memberCard h5{
    color: #4b2c7b;
}

.memberCardLeft img{
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 12px 5px 5px  #888;
    margin-bottom: 5px;
}
.memberCardRight{
    padding: 70px;
    background-color: white;
    height: 400px;
    margin-left: -12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 2px  #888;
}
@media (max-width:576px) {
    .memberCard{
        padding: 0;
        padding-bottom: 50px;
    }
    .memberCard .sm-heading{
        text-align: justify;
        font-size: 20px;
        padding-left: 25px;
        padding-right: 35px;
    }
    .memberCardLeft{
        width: 100%;
        margin-left: 2px;
        
        /* margin-right: 10px; */
    }
    .memberCardLeft img{
        box-shadow: 2px 2px 1px  #888;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        background-size: cover;
        height: 300px;
    }
    .memberCardRight{
        text-align: justify;
        height: 350px;
        margin-left: 10px;
        padding: 50px 50px 0px 20px;
        margin-bottom: 15px;
        margin-right: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
}