.text-part{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 30px;
    /* background-color: rgb(245, 230, 230); */
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 150px;
    -webkit-box-shadow: -4px 8px 13px 5px #A2A2A2; 
    box-shadow: -4px 8px 13px 5px #A2A2A2;
}
.text-part1{
    text-align: justify;
    width: 80%;
    color: gray;
    /* font-size: 20px; */
    font-weight: bolder;
}
/* .corselImg{
    width: 15%;
    height: 25%;
} */