*{
        overflow-x: hidden;
}
.round-edit{
    /* width: 90%; */
    margin-top: 60px;
    padding-top:50px;
    padding-bottom:50px;
    margin-left: 50px;
    margin-right: 10px;
}
.round-img{
    border-radius: 50%;
    width: 90%;
    height: 250px;
    clear: both;
    object-fit: cover;
}
  
.video-edit{
    width: 90%;
    margin: auto;
}
h5{
    font-size: 1.25rem;
    padding: 2px;
}
.flight{
    margin: auto;
    margin-top: 100px;
    padding: 0px 150px 100px 150px;
    background-color: rgb(245, 245, 245);
    font-family: "Raleway",sans-serif;    
}
.flightInfo1 {
    /* margin-left: 15px; */
    padding-top: 55px;
    padding-left: 50px;
    background-image: url('https://wallpaper.dog/large/10749745.jpg');
    background-size: cover;
    /* border-radius: 10px; */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: white;
    width: 45%;
    margin-bottom: 50px;
    box-shadow: 10px 15px 15px  #888;
}

.flightInfo2{
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 50px;
    text-align: justify;
    width: 52%;
    box-shadow: 10px 15px 15px  #888;
    margin-right: 5px;
    margin-bottom: 50px;
}
.flightInfo2 h5{
    color: #4b2c7b;
}
.buttonInputSend{
    margin-top: 15px;
    padding: 12px;
    border: 2px solid;
    font-size: 15px;
    font-family: "Raleway",sans-serif; 
    color: white;
    background-color: #4b2c7b;
    border-radius: 5px;
    /* width: 35%; */
}
.btnSend{
    text-align: right;
    margin-right: 100px;
}
@media(max-width:576px) {
    .flight{
        padding: 0px;
    }
    .btnSend{
        margin-right: 0;
    }
    .flightInfo1{
        width: 100%;
        padding-bottom: 55px;
    }
    .flightInfo2{
        width: 100%;
    }
}